bin/
classes/
target/


vskeddemos/mavenproject/springboot2list/springdatajpa/.project
*.class
*.log
*.classpath
*.project
*.prefs
*.component
pom.properties

vskeddemos/mavenproject/**/*.classpath
vskeddemos/mavenproject/**/*.project
vskeddemos/**/.settings/*.*
vskeddemos/mavenproject/**/target
vskeddemos/mavenproject/**/*.class
vskeddemos/mavenproject/designmode/.classpath
vskeddemos/mavenproject/designmode/.settings/org.eclipse.jdt.core.prefs
vskeddemos/mavenproject/designmode/.classpath
vskeddemos/mavenproject/designmode/.settings/org.eclipse.jdt.core.prefs
vskeddemos/mavenproject/designmode/.settings/org.eclipse.wst.common.component
vskeddemos/mavenproject/designmode/.settings/*.*
vskeddemos/mavenproject/designmode/.settings/org.eclipse.wst.common.component
vskeddemos/mavenproject/vskedtool/.myeclipse/**/*.*
vskeddemos/mavenproject/vskedtool/target/**/*.*
