<!DOCTYPE html>
<html lang="zh">
<head>
    <title>html原型模板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body>

<table id="dt0" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>用户编号</th>
        <th>用户名</th>
        <th>添加时间</th>
    </tr>
    </thead>
    <tbody id="dt0body">
    <tr>
        <th>用户编号1</th>
        <th>用户名11</th>
        <th>2019年8月26日</th>
    </tr>
    </tbody>
</table>
<script src="..//static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/project/manager/user/sysUserList.js"></script>
</body>
</html>