<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

<Properties>
    <Property name="logpath">${sys:catalina.home}/logs/youtudemo</Property>
    <Property name="logname">youtudemo</Property>
</Properties>
<Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="outRollingFile" fileName="${logpath}/${logname}.log" filePattern="${logpath}/$${date:yyyy-MM}/${logname}-%d{yyyy-MM-dd}-%i.log">
        <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
    </RollingFile>
</Appenders>

<loggers>
    <root level="ALL">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="outRollingFile" />
    </root>
</loggers>

</Configuration>