<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- must set here! -->
    <base th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} ">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>更新</title>
</head>
<body class="pace-done">

	<div class="col-lg-12">
		<div class="ibox ">

			<div class="ibox-title">
				<h5>更新</h5>
				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a> <a class="close-link"> <i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
                <p th:text="${errorcode}" class="font-bold text-danger"></p>
                <p th:text="${errormsg}" class="font-bold text-danger"></p>
				<form id="fm" method="post" action="" th:if="${data ne null}">
				<input type="hidden" id="fuid" name="fuid" th:value="${fuid}">
					<div class="form-group">
						<label class="col-lg-2 control-label">原始金额</label>
						<div class="col-lg-10">
							<p th:text="${data}"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">金额变更类型</label>
						<div class="col-sm-10">
                         <input type="radio" class="i-checks" value="7" name="feetype" checked > 充值
                         <input type="radio" class="i-checks" value="8" name="feetype" > 扣值
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">金额</label>
						<div class="col-lg-10">
							<input type="number" class="form-control" name="amount" id="amount" value="">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-2">
							<button type="button" class="btn btn-primary" id="updateBt">更新</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
    <div th:replace="include/web/webjs :: webjs"></div>
	<script src="/static/js/project/app/user/appUserBalanceUpdate.js"></script>
</body>
</html>