<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- must set here! -->
    <base th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} ">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>更新</title>
</head>
<body class="pace-done">

	<div class="col-lg-12">
		<div class="ibox ">

			<div class="ibox-title">
				<h5>更新</h5>
				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a> <a class="close-link"> <i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
                <p th:text="${errorcode}" class="font-bold text-danger"></p>
                <p th:text="${errormsg}" class="font-bold text-danger"></p>
				<form id="fm" method="post" action="" th:if="${data ne null}">
				<input type="hidden" id="fuid" name="fuid" th:value="${fuid}">
					<div class="form-group">
						<label class="col-lg-2 control-label">手机号</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" name="phone" id="phone" th:value="${data['phone']}" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">邀请码</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" name="myinvitationcode" id="myinvitationcode" th:value="${data['myinvitationcode']}" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">是否代理</label>
						<div class="col-sm-10">
                         <input type="radio" class="i-checks" value="0" name="isagent" th:checked="${data['isagent']==0}"> 否
                         <input type="radio" class="i-checks" value="1" name="isagent" th:checked="${data['isagent']==1}"> 是
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">用户状态	</label>
						<div class="col-sm-10">
                         <input type="radio" class="i-checks" value="1" name="status" th:checked="${data['status']==1}"> 正常
                         <input type="radio" class="i-checks" value="2" name="status" th:checked="${data['status']==2}"> 锁定
                         <input type="radio" class="i-checks" value="3" name="status" th:checked="${data['status']==3}"> 删除
                         <input type="radio" class="i-checks" value="4" name="status" th:checked="${data['status']==4}"> 非法
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-2">
							<button type="button" class="btn btn-primary" id="updateBt">更新</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
    <div th:replace="include/web/webjs :: webjs"></div>
	<script src="/static/js/project/app/user/appUserUpdate.js"></script>
</body>
</html>