<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

<Properties>
    <Property name="fname">log4j2demo10112017s.log</Property>
</Properties>
<Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="outRollingFile" fileName="logs/${fname}" filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
        <SizeBasedTriggeringPolicy size="50MB"/>
    </RollingFile>
    <JDBC name="databaseAppender" tableName="myLogsT">
      <ConnectionFactory class="com.vsked.util.ConnectionFactory" method="getDatabaseConnection" />
      <Column name="logTime" isEventTimestamp="true" />
      <Column name="logLevel" pattern="%level" />
      <Column name="logClass" pattern="%logger" />
      <Column name="logMethod" pattern="%M" />
      <Column name="userId" pattern="%X{userId}" />
      <Column name="userName" pattern="%X{userName}" />
      <Column name="logMsg" pattern="%logger %level %ex{full} %message" />
    </JDBC>
</Appenders>

<loggers>
    <root level="ALL">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="outRollingFile" />
        <appender-ref ref="databaseAppender" />
    </root>
</loggers>

</Configuration>