[Unit]
Description=nacos
After=network.target
 
[Service]
Type=forking
ExecStart=/opt/nacos/nacos0/bin/startup.sh
ExecReload=/opt/nacos/nacos0/bin/shutdown.sh
ExecStop=/opt/nacos/nacos0/bin/shutdown.sh
PrivateTmp=true
 
[Install]  
WantedBy=multi-user.target
