<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="webcss">
    <!-- must set here! -->
    <base th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} ">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">
    
    <link href="/static/css/plugins/dataTables/datatables.min.css"	rel="stylesheet">
    <link href="/static/js/plugins/dataTables/Select-1.3.0/css/select.bootstrap.min.css" rel="stylesheet">
    <link href="/static/js/plugins/dataTables/Buttons-1.5.6/css/buttons.bootstrap.min.css" rel="stylesheet">
    
    <!-- Toastr style -->
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="/static/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    
    <link href="/static/css/plugins/select2/select2.min.css" rel="stylesheet">
    
    <link href="/static/css/plugins/dualListbox/bootstrap-duallistbox.min.css" rel="stylesheet">
    
    <!-- Sweet Alert -->
    <link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    
    <link href="/static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    
    <link href="/static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
</body>
</html>