<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
  <servlet>
      <servlet-name>UserServlet</servlet-name>
      <servlet-class>com.vsked.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>UserServlet</servlet-name>
      <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>GenerateServlet</servlet-name>
      <servlet-class>com.vsked.servlet.GenerateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GenerateServlet</servlet-name>
      <url-pattern>/GenerateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>SortGridServlet</servlet-name>
      <servlet-class>com.vsked.servlet.SortGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>SortGridServlet</servlet-name>
      <url-pattern>/SortGridServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
